body {
    background-color: gray;
    height: 100%;
    width: 100%
}

div
{
    
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    height: 80%;
    width: 80%;
    margin: 0 auto; 
    background-color: papayawhip;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    max-height: 30%;
    background-color: rgb(230, 142, 42);
}

.header img {
    width: 10em;
    margin: 10% 0 -10% 10%;
    border: solid rgb(230, 142, 42) 10px
}

.header_left {
    flex: 1;
    padding-left: 5%;
}

.header_right {
    flex: 1
}

.secondLine {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    padding-left: 5%;
}

.flexColum {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.thirdLine {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    padding-left: 5%;
}

.fourthLine {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    padding-left: 5%;
}

.Title
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer
{
    background-color: rgb(230, 142, 42);
    width: 100%;
    margin-top: 15px;
    padding: 10px 0 10px 0;
    /* padding: 10px; */
}

